<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
   
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link rel="stylesheet" th:href="@{/css/RealizarCompraStyle.css}">
     <link rel="stylesheet" th:href="@{/css/Sidebarstyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
  <div th:replace="fragments/headerCustomer :: headerCustomer"></div>
  <div class="card col-sm-6 p-3 h-75 position-absolute">
  	<form method="post" th:object="${prenda}">
  	        <h2 class="textbox pt-2">Datos de su compra</h2>
         	 <div class="row">
           	 <div class="col pt-5">
            	    
            	</div>
            <div class="col">
            <div class="mb-3 pt-2">
			 	<label for="id" class="form-label">IdPrenda</label>
             	<input type="text" class="form-control" id="id" 
             	 th:field="*{idGarment}" >             
           
			</div>
              <div class="mb-3 pt-2">
                <label for="exampleInputEmail1" class="form-label">Posicion de la prenda</label>
                <select class="form-select"
                 >               
                    <option th:each="p: ${listaPosiciones}"
                    	th:value="${p.idGarmentPosition}"
                    	th:text="${p.nameGarmentPosition}">
                    </option>
                    
                    
                  </select>
              </div>
             
              <div class="mb-3 pt-2">
                <label for="exampleFormControlTextarea1" class="form-label">Link del estampado</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ingresa el detalle de su queja"></textarea>
              </div>
              <div class="mb-3 pt-2">
              <label for="exampleInputEmail1" class="form-label">Talla de la prenda</label>
                <select class="form-select" aria-label="Disabled select example">
                    <option th:each="a: ${listaTallas}"
                    	th:value="${a.idSize}"
                    	th:text="${a.nameSize}"
                    ></option>
                    
                    
                  </select>
               </div>
               <div class="mb-3 pt-2">
					<label for="cantidad" class="form-label">Cantidad</label>
                		<select class="form-select">
                    		<option selected>Cantidad</option>
                   			<option value=1>1</option>
                   			<option value=2>2</option>
                   			<option value=3>3</option>
                   			<option value=4>4</option>
                   			<option value=5>5</option>
                   			<option value=6>6</option>
                   			<option value=7>7</option>                    
                  </select>
              </div>
              <div class="mb-3 pt-2">
                <label for="nombre" class="form-label">Total</label>
                <textarea class="form-control" id="nombre" 
                 ></textarea>
              </div>
              <div class="mb-3 pt-2">
                	<button type="submit" class="btn btn-primary" position-relative>
                    Ingresar</span>
               	 	</button>
              	</div>
            	</div>
          	</div>                                           
        </form>
<!--       <form>
          <h2 class="textbox pt-2">Ingreso de datos de la queja</h2>
          <div class="row">
            <div class="col pt-5">
               <img src="./img/Logo.jpg" class="img-thumbnail" alt="Logo">
            </div>
            <div class="col">
              <div class="mb-3 pt-5">
                <label for="exampleInputEmail1" class="form-label">Tipo de su queja</label>
                <select class="form-select" aria-label="Disabled select example">
                    <option selected>Seleccione su tipo de su queja</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
             
              <div class="mb-3 pt-2">
                <label for="exampleFormControlTextarea1" class="form-label">Detalle</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ingresa el detalle de su queja"></textarea>
              </div>
              <div class="mb-3 pt-4">
                <button type="submit" class="btn btn-primary" position-relative>
                    Ingresar</span>
                </button>
              </div>
            </div>
          </div>                                           
        </form>-->
        
    </div>
  <div th:replace="fragments/sideBarCustomer :: sideBarCustomer">
    
  </div>

  <!-- <nav class="navbar navbar-light bg-dark">
    <div class="container">
        <div class="navbar-brand">
              <h2>Alexande talledo carranza</h2>
        </div>
    
      <div class="navbar-brand input-group w-25 position-absolute top-5 start-50">              
        <input type="text" class="form-control" placeholder="Buscar un producto" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">Buscar</span>
      </div>
      <div class="col position-absolute top-5 end-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-patch-question-fill p-10" viewBox="0 0 16 16">
            <path d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627z"/>
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-bell-fill p-10" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-house-door-fill p-10" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
          </svg>
        
      </div>
      
    </div>
  </nav> -->
      <!-- <div class="d-flex">
        <div class="sidebar-container bg-primary">                  
        <div class="menu">
          <a href="./PerfilCliente.html"class="d-block text-light fw-bolder p-3 "><i class="bi bi-person-circle mr-2 lead p-2"></i>Mi perfil</a>
          <a href="./MisCompras.html"class="d-block text-light fw-bolder p-3"><i class="bi bi-bag-fill mr-2 lead p-2"></i>Mis compras</a>
          <a href="./RealizarCompra.html"class="d-block text-light fw-bolder p-3"><i class="bi bi-cart-plus-fill mr-2 lead p-2"></i>Realizar compra</a>
          <a href="./DiseñosDisponibles.html"class="d-block text-light fw-bolder p-3"><i class="bi bi-brush-fill mr-2 lead p-2"></i>Diseños disponibles</a>
          <a href="./RealizarQueja.html"class="d-block text-light fw-bolder p-3"><i class="bi bi-exclamation-circle-fill mr-2 lead p-2"></i>Realizar queja</a>
      </div>
      </div>     
      <div class="card col-sm-6 p-3 h-25">
        <form>
            <h2 class="textbox pt-2">Ingreso de datos de la queja</h2>
            <div class="row">
              <div class="col pt-5">
                <img src="./img/Logo.jpg" class="img-thumbnail" alt="Logo">
              </div>
              <div class="col">
                <div class="mb-3 pt-5">
                  <label for="exampleInputEmail1" class="form-label">Tipo de su queja</label>
                  <select class="form-select" aria-label="Disabled select example">
                      <option selected>Seleccione su tipo de su queja</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>
               
                <div class="mb-3 pt-2">
                  <label for="exampleFormControlTextarea1" class="form-label">Detalle</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ingresa el detalle de su queja"></textarea>
                </div>
                <div class="mb-3 pt-4">
                  <button type="submit" class="btn btn-primary" position-relative>
                      Ingresar</span>
                  </button>
                </div>
              </div>
            </div>                                           
          </form>
      </div>
    </div> -->
  
</body>
</html>