.form-inline{
    position:absolute;
    width:597px;
    height:39px;
    left: 556px;
    top:10px; 
}
body{
	background-color: #1E2126 ;
    color: white;
}
.form-control
{
 background-color: #1E2126;
    border-radius: 10px;
    border:1px;
}
.margin-left{
    margin-left: 80px !important;
}
/*Inicio del menu*/
#btn-menu{
    display: none;
}
#buscar{
    width: 70%;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #094977;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #fff;
    ;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/
.nav-link{
    color: white;
}
.menu a:hover{
    text-decoration: none;
}
.bg-primary{
    background-color: #094977 !important;
}
#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .menu{
    width: 18rem;
}