.form-inline{
    position:absolute;
    width:597px;
    height:39px;
    left: 556px;
    top:10px
} 
body{
	background-color: #1E2126 ;
    color: white;
}
/*Menu lateral*/
.form-control
{
    background-color: #1E2126;
    border-radius: 10px;
    border:1px;
}
#btn-menu{
    display: none;
}
#buscar{
    width: 70%;
}
.btn1{
   position:relative;
   border-radius: 5px;
   width:300px;
   height: 35px;
   margin-left: 10%;
   margin-bottom: 10%;
}
.btn1 button{
    background: #0D6EFD;
    border-radius: 15px;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}
.btn1 a{
    color: white;
}
.btn1 a:hover{
    text-decoration: none;
}
.btn1 a:active{
    color: white;
}
.btn1 button:hover{
    background-color: #2669ce;
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #fff;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menu lateral*/
.nav-link{
    color: white;
}
.menu a:hover{
    text-decoration: none;
}
.bg-primary{
    background-color: #094977 !important;
}
#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .menu{
    width: 18rem;
}
