.form-inline{
    position:absolute;
    width:597px;
    height:39px;
    left: 556px;
    top:10px;
}
body{
	background-color: #1E2126 ;
    color: white;
}
.form-control
{
 background-color: #1E2126;
    border-radius: 10px;
    border:1px;
}
.margin-left{
    margin-left: 80px !important;
}
/*Inicio del menu*/
#btn-menu{
    display: none;
}
#buscar{
    width: 70%;
}
/*Fin de Menù lateral*/
.card{
    color: #152536;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
}
.btn1{
   position:relative;
   border-radius: 5px;
   width:300px;
   height: 35px;
   margin-left: 10%;
   margin-bottom: 10%;
}
.btn1 button{
    background: #0D6EFD;
    border-radius: 15px;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}
.btn1 a{
    color: white;
}
.btn1 a:hover{
    text-decoration: none;
}
.btn1 a:active{
    color: white;
}
.btn1 button:hover{
    background-color: #2669ce;
}
#circulo{
    background:#C4C4C4;
    height: 200px;
    width: 200px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.nav-link{
    color: white;
}
.menu a:hover{
    text-decoration: none;
}
.bg-primary{
    background-color: #094977 !important;
}
#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .menu{
    width: 18rem;
}