<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/style4.css" th:href="@{/css/style4.css}">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="MenuDiseñador.html">Styleprint</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">UserName</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" id="espacio">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        <a class="nav-link" th:href="MenuCliente.html">Home<span class="sr-only">(current)</span><i class="fas fa-home lead"></i></a>
</nav>
<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="menu">
          <a th:href="MenuDiseñador.html" class="d-block p-3" style="color: white;"><i class="fas fa-user-circle mr-2 lead"></i>Mi perfil</a>
          <a class="d-block p-3" style="color: white;"><i class="fas fa-shopping-bag mr-2 lead"></i>Mis diseños</a>
          <a class="d-block p-3" style="color: white;"><i class="fas fa-paint-brush mr-2 lead"></i>Realizar Compra</a>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <br>
          <br>
          <br>
        </div>
        <div class="col">
          <br>
          <br>
          <br>
          <br>
        </div>
    </div>
    <div class="card col-sm-6 p-3 h-25 centrar" style="margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: auto; height: 610px !important; ">
      <form class="container">
          <center><h2 class="textbox">EDITAR PERFIL</h2></center>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombres</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tus nombres">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Apellidos</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Ingresa tus apellidos">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Celular</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu número de celular">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Apodo</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Ingresa tu apodo">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Ingresa tu correo">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Contraseña</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Ingresa tu contraseña">
            </div>
            <div style="text-align: center;">
              <button type="submit" class="btn1 btn-primary" position-relative>Guardar cambios</span></button>
            </div>
      </form>
    </div>
</div>
</body>
</html>