<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style3.css" th:href="@{/css/style3.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>StylePrint</title>
</head>
<body>
    <div>
        <h1>Bienvenido de vuelta</h1>
        <p>¿Quieres publicar tus diseños y ganar dinero de eso?</p>
        <h2>Regístrate como diseñador</h2>
    </div>
    <div class="form">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" required class="form-control" id="formControlInput" placeholder="Ingresa tu email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" required class="form-control" id="formControlInput" placeholder="Ingresa tu contraseña">
            </div>
            <div class="preg">
                <p1>¿Has olvidado tu contraseña?</p1>
            </div>
            <div class="btn">
                <button type="submit"><a th:href="@{/designer/perfil}">Iniciar sesión</a></button>
            </div>
            <div class="signup-link">
                ¿Todavía no tienes cuenta? <a th:href="@{/designer/irRegistrar}">Crea una ahora</a>
            </div>
        </form>
    </div>
    <!--contenido derecho-->
    <div id="cont-der">
        <img src="../static/imagenes/logo.jpg" th:src="@{/imagenes/logo.jpg}" alt="logo">
    </div>
    
    <!--contenido izquierda-->
    <div id="cont-izq">
        <img src="../static/imagenes/imagen.jpg" th:src="@{/imagenes/imagen.jpg}" alt="imagen">
    </div>
</body>
</html>